<configuration>
    <property name="LOG_DIR" value="${redisstars.log.dir:-logs}"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/redisstars.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/redisstars.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MEMORY" class="org.roberthu.rs.logging.ApplicationLogAppender"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="MEMORY"/>
    </root>
</configuration>
